<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Avatar</ion-title>
  </ion-toolbar>

  <ion-segment value="nfts" [(ngModel)]="viewType">
    <ion-segment-button value="nfts">
      <ion-label>NFTs</ion-label>
    </ion-segment-button>
    <ion-segment-button value="create" [disabled]="(mintedNft$ | async)">
      <ion-label>Create</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
 
<ng-container [ngSwitch]="viewType">
  <ng-container *ngSwitchCase="'create'">

    <ion-content>
      <app-avatar-create></app-avatar-create>
    </ion-content>

  </ng-container>
  <ng-container *ngSwitchCase="'nfts'">

    <ion-content>
      <app-avatar-nfts></app-avatar-nfts>
    </ion-content>

  </ng-container>
</ng-container>

