<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="!imageToUpload">
    <ion-row *ngIf="!(avatar$ | async)">
      <ion-col class="ion-text-center">
        <p>No avatar image found. Upload one now!</p>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 2em;">
      <ion-col class="ion-text-center">
        <img class="avatar" style="height: auto;" [src]="avatar$ | async" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <image-cropper
    *ngIf="imageChangedEvent && !cropHidden"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    [resizeToWidth]="1200"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
    [backgroundColor]="'#a3a3a8'"
></image-cropper>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <input type="file" hidden (change)="fileChangeEvent($event)" id="file-input" accept="image/*">

        <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col>
              <ion-button color="secondary" (click)="openFileDialog()">
                <ion-label>Choose Image</ion-label>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="primary" [disabled]="!imageToUpload" (click)="upload()">
                <ion-label>Upload</ion-label>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="danger" (click)="cancel()">
                <ion-label>Cancel</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
