<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="ion-text-center">Machinestates</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
            <ion-input
              formControlName="emailusername"
              label="Email or Username"
              label-placement="floating"
              type="text"
              name="emailusername"
              autofocus="true"
              error-text="Invalid email address or username."
              required>
            </ion-input>
            <app-show-hide-password>
              <ion-input
                formControlName="password"
                name="password"
                type="password"
                label="Password"
                label-placement="floating"
                error-text="Invalid password."
                required
                minlength="6">
              </ion-input>
            </app-show-hide-password>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button type="submit" expand="block" color="primary">Sign In</ion-button>
          <ion-button class="signup-link" [routerLink]="['/signup']" type="button" fill="clear" expand="full">No account? Signup Now</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error$ | async" class="ion-text-center">
            <p><ion-text color="danger">
              {{ (error$ | async)?.error?.message || (error$ | async)?.message }}
            </ion-text></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
