<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>HACKED!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <div #wrapper style="min-height: 80px;">
          <ion-col>
            <p><span class="typing"></span></p>
          </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <img class="img-responsive" [src]="image" [@heartBeat]="animationState" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-button expand="full" (click)="close()">Close</ion-button>
  </ion-footer>
</div>