<ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-button color="primary" expand="full" (click)="endRound()" *ngIf="currentGame?.lastDay === currentGame?.day">
        END ROUND
      </ion-button>
      <ion-button color="primary" expand="full" (click)="openTravelModal()" *ngIf="currentGame?.lastDay !== currentGame?.day ">
        TRAVEL
      </ion-button>
    </ion-col>  
    <ion-col size="4">
      <ion-button color="tertiary" expand="full">
        EXPLORE
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="secondary" expand="full" (click)="openInventoryModal()">
        INVENTORY
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>