<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="trade">
      <ion-icon aria-hidden="true" [src]="trade"></ion-icon>
      <ion-label>Trade</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avatar">
      <ion-icon aria-hidden="true" [src]="avatar"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" [src]="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
