<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trade
    </ion-title>
  </ion-toolbar>
</ion-header>

<app-alert class="sticky-top"></app-alert>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- High scores -->
  <app-scores *ngIf="!(inProgress$ | async)"></app-scores>
  <!-- END: High Scores -->

  <!-- Game Interface -->
  <ng-container *ngIf="inProgress$ | async">
    <app-game-score [currentGame]="game$ | async"></app-game-score>
    <app-game-actions [currentGame]="game$ | async"></app-game-actions>
    <app-game-exchange [currentGame]="game$ | async"></app-game-exchange>
  </ng-container>
  <!-- END: Game Interface -->

</ion-content>

<ion-footer [translucent]="true" *ngIf="!(inProgress$ | async)">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="start()" expand="block">Start</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
