<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo">
      Machine States
    </ion-title>
  </ion-toolbar>
</ion-header>

<app-alert class="sticky-top"></app-alert>

<ion-content [fullscreen]="true">

  <!-- High scores -->
  <app-scores *ngIf="!(inProgress$ | async)"></app-scores>
  <!-- END: High Scores -->

  <!-- Game Interface -->
  <ng-container *ngIf="inProgress$ | async">
    <app-game-score [currentGame]="game$ | async" [avatar]="avatar"></app-game-score>
    <app-game-debt [currentGame]="game$ | async" *ngIf="(game$ | async)?.exchange?.hasLoan"></app-game-debt>
    <app-game-exchange [currentGame]="game$ | async"></app-game-exchange>
  </ng-container>
  <!-- END: Game Interface -->

</ion-content>

<ion-footer *ngIf="inProgress$ | async">
  <app-game-actions [currentGame]="game$ | async"></app-game-actions>
</ion-footer>

<ion-footer *ngIf="!(inProgress$ | async)">
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button (click)="start()" expand="block">Start</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
