<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>@{{ handle.toLowerCase() }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-card>
      <img [src]="avatar" />
      <ion-card-header>
        <ion-card-title>{{ handle.toLowerCase() }}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>{{ score | currency:'USD':'symbol':'1.0-0' }}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-button expand="full" (click)="close()">Close</ion-button>
  </ion-footer>
</div>