<div class="ion-padding">
  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th>Pay Debt</th>
      <th>Borrow</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>
        <button *ngIf="!activePay"
          type="button"
          class="btn btn-buy"
          (click)="activePay = true">
            Pay
          </button>
        <div class="input-group" *ngIf="activePay">
          <form class="form-inline">
            <input
              type="number" pattern="\d*"
              min="0"
              class="form-control"
              placeholder="0"
              [(ngModel)]="payQuantity"
              [ngModelOptions]="{standalone: true}">
            <button
              type="button"
              class="btn btn-buy"
              [disabled]="getMaxPayment() === 0"
              (click)="payQuantity = getMaxPayment()">
              Max
            </button>
            <button
              (click)="pay()"
              type="button"
              class="btn btn-buy"
              [disabled]="payQuantity < 1 || payQuantity > getMaxPayment() || actionPending">
              Pay
            </button>
          </form>
        </div>
      </th>
      <th>
        <button *ngIf="!activeBorrow"
          type="button"
          class="btn btn-sell"
          (click)="activeBorrow = true">
            Borrow
          </button>
        <div class="input-group" *ngIf="activeBorrow">
          <form class="form-inline">
            <input
              type="number" pattern="\d*"
              min="0"
              class="form-control"
              placeholder="0"
              [(ngModel)]="borrowQuantity"
              [ngModelOptions]="{standalone: true}">
            <button
              [disabled]="getMaxBorrow() <= 0"
              (click)="borrowQuantity = getMaxBorrow()"
              type="button"
              class="btn btn-sell">
              Max
            </button>
            <button
              (click)="borrow()"
              [disabled]="borrowQuantity < 1 || borrowQuantity > getMaxBorrow() || actionPending || getDebt() > 20000"
              type="button"
              class="btn btn-sell">
              Borrow
            </button>
          </form>
        </div>
      </th>
    </tr>
    </tbody>
  </table>
</div>