<!-- TODO: Add message for connecting wallet -->
<ion-grid *ngIf="!wallet">
  <ion-row>
    <ion-col>
      <p>Connect your Phantom wallet to retrieve your NFTs.</p>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-container *ngIf="nfts$ | async">
  <ng-container *ngFor="let nft of nfts$ | async">
    <ion-card *ngIf="nft.metadata.json">
      <img alt="{{ nft.metadata.json.name }}" [src]="nft.metadata.json.image" />
      <ion-card-header>
        <ion-card-title>{{ nft.metadata.json.name }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content> 
      </ion-card-content>

      <ion-button 
        [disabled]="inProgress$ | async"
        expand="full"
        (click)="setAvatar(nft.metadata.json)" 
        *ngIf="nft.metadata.json.image !== (avatarImage$ | async)">
        Set
      </ion-button>
      <ion-button 
        [disabled]="inProgress$ | async"
        expand="full"
        color="danger"
        (click)="unsetAvatar()" 
        *ngIf="nft.metadata.json.image === (avatarImage$ | async)">
      Unset
    </ion-button>
    </ion-card>
  </ng-container>
</ng-container>