<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>End Round</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-segment value="tokens" [(ngModel)]="viewType">
      <ion-segment-button value="tokens">
        <ion-label>Tokens</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nfts">
        <ion-label>NFTs</ion-label>
      </ion-segment-button>
      <ion-segment-button value="story" checked>
        <ion-label>Story</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="viewType">
      <ng-container *ngSwitchCase="'tokens'">
        <p>You did not win any tokens this round.</p>
        <p>Score $100,000 or greater and keep tokens in your inventory in order to win them.</p>
      </ng-container>

      <ng-container *ngSwitchCase="'nfts'">
        <p>You did not win any NFTs this round.</p>
        <p>Achieve an all-time high score for a chance to win rare NFTs.</p>
      </ng-container>

      <ng-container *ngSwitchCase="'story'">
        <ion-grid>
          <ion-row>
            <div>
              <ion-col class="story" [innerHTML]="story">
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </ng-container>
    </div>

  </ion-content>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="close()" color="primary">Close</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</div>