<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-toggle [(ngModel)]="sound" (ngModelChange)="toggleSound($event)">Sound</ion-toggle>
    </ion-item>
    <app-settings-phantom></app-settings-phantom>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="signout()" expand="block">Sign Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>